<launch>
  <node pkg="turtlebot3_autorace_camera" type="cv_camera_node" name="rasppi_camera" output="screen">
    <param name="camera_info_url" value="package://turtlebot3_autorace_camera/calibration/intrinsic_calibration/camerav2_320x240_30fps.yaml"/>
    <param name="/camera/image_width" value="320"/>
    <param name="/camera/image_height" value="240"/>
    <param name="/camera/rate" value="20"/>
    <param name="/camera/frame_id" value="camera"/>    
    <remap from="/cv_camera/set_camera_info" to="/camera/set_camera_info" />
    <remap from="/cv_camera/camera_info" to="/camera/camera_info" />
    <remap from="/cv_camera/image_raw" to="/camera/image" />
  </node>
</launch>